<!-- 打赏 -->
	<div id="myRewards" class="myRewards">
	  <a id="btn-myRewards" class="btn-myRewards">
	    <img class="png" src="/img/tab_6.png">
	  </a>
	  <div class="myRewards-main">
	    <h1 class="myR-h">如果喜欢，打个赏，加个好友吧</h1>
	    <div class="myRewardsbox">
	      <div class="myRewards-list">
	        <ul class="not-full">
	          <li>
	            <a id="alipay">支付宝<img class="png" src="/img/alipaylogo.png" alt="支付宝"></a>
	          </li>
	          <li>
	            <a id="weixin">微信<img class="png" src="/img/weixinlogo.png" alt="微信"></a>
	          </li>
	        </ul>
	      </div>
	      <div id="alishow" class="myRewards-detail">
	        <div class="myRewards-ubox">
	          <p class="myRewards-code-tit">扫描二维码打赏</p>
	          <div class="myRewards-code">
	            <img src="/img/alipay.png">
	          </div>
	          <p class="myRewards-account">支付宝打赏</p>
	        </div>
	      </div>
	      <div id="weixinshow" class="myRewards-detail">
	        <div class="myRewards-ubox">
	          <p class="myRewards-code-tit">扫描二维码打赏</p>
	          <div class="myRewards-code">
	            <img src="/img/weixin.png">
	          </div>
	          <p class="myRewards-account">微信打赏</p>
	        </div>
	      </div>
	    </div>

	  </div>
	</div>
