<!-- 分享 -->
<div id="share_btn">
	<div class="htmleaf-container">
		<div id='ss_menu'>
		  <div>
			<a href="https://github.com/minchao920917" target="_blank"><i class="fa faq-github"></i></a>
		  </div>
		  <div>
			<a href="http://v.t.sina.com.cn/share/share.php?url=http://minchao.me/&title='分享内容'" target="_blank"><i class="fa faq-weibo"></i></a>
		  </div>
		  <div>
			<a href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=http://minchao.me/" target="_blank"><i class="fa faq-qq"></i></a>
		  </div>
		  <div id="share-menu" class='menu'>
			<div class='share' id='ss_toggle' data='180'>
			  <div class='circle'></div>
			  <div class='bar'></div>
			</div>
		  </div>
		</div>
	</div>
</div>
