{% set  pc_1712_qq = block.getPosterByCode('pc_1712_qq',site.getID()) %}
    <!-- 固定导航栏 -->
    <div class="header">
      <div class="nav">
        <div class="links">
          <a href="javascript:void(0)" class="wx">
              <img class="weixin-qrcode" src="{{ site.getStaticUrl() }}web201806/images/s_wx.png" alt="">
          </a>
          <a href="https://weibo.com/p/1006066432596916 " target="_blank" class="weibo"></a>
          <a href="https://tieba.baidu.com/f?ie=utf-8&kw=%E8%90%8C%E5%B0%86%E9%A3%8E%E4%BA%91&" target="_blank" class="tieba"></a>
          <a href="//qm.qq.com/cgi-bin/qm/qr?k=ktQ4XKtxt9fQbJFOTHfWNcfvIgC7v6MF" target="_blank" class="qq"></a>
          <div href="javascript:void(0)" class="sharemore">
            <div class="sharelink-more-box">
              <a href="javascript:;" class="more share-weixin"></a>
              <a href="javascript:;" target="_blank" class="more share-weibo"></a>
              <a href="javascript:;" target="_blank" class="more share-qqzone"></a>
              <a href="javascript:;" target="_blank" class="more share-qq"></a>
            </div>
          </div>
        </div>
        <ul class="tabs">
            <li><a href="javascript:void(0)" class="tab tab1 active"></a><i></i></li>
            <li><a href="//jy2.woniu.com/all/" class="tab tab2 "></a><i></i></li>
            <li><a href="//jy2.bbs.woniu.com" class="tab tab3 "></a><i></i></li>
        </ul>
      </div>
    </div>